<a href="https://colab.research.google.com/github/Kristina140699/CProgrammingCodes/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Proprietary content. ©Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited

In [ ]:
#First Program
print("This is sparta!!!")

In [ ]:
#Variables
var1="John"
print(var1)

In [ ]:
var1="Sam"
print(var1)

In [ ]:
var1="Matt"
print(var1)

In [ ]:
#Data-Type
a=10
type(a)

In [ ]:
a=10.5
type(a)

In [ ]:
a="sparta"
type(a)

In [ ]:
a=True
type(a)

In [ ]:
a=3+4j
type(a)

complex

In [ ]:
#Arithmetic Operators
# +, -, *, /

In [ ]:
a=10
b=20

In [ ]:
print(a+b)

In [ ]:
print(a-b)

-10

In [ ]:
print(a*b)

200

In [ ]:
print(a/b)

0.5

In [ ]:
#Relational Operators
# >, <, ==, !=

In [ ]:
a=10
b=20

In [ ]:
a>b

False

In [ ]:
a<b

True

In [ ]:
a==b

False

In [ ]:
a!=b

True

In [ ]:
#Logical Operators

In [ ]:
a=True
b=False

In [ ]:
a&b

False

In [ ]:
b&a

False

In [ ]:
b&b

False

In [ ]:
a&a

True

In [ ]:
a|b

True

In [ ]:
b|a

True

In [ ]:
a|a

True

In [ ]:
b|b

False

In [ ]:
#Strings
# here '' or "" or '''''' are all permited and does not really matter

s1 = 'This is a string in single qoutes!!'
s1

'This is a string in single qoutes!!'

In [ ]:
type (s1)

str

In [ ]:
s2 = "This is a string in double qoutes!!"
s2

'This is a string in double qoutes!!'

In [ ]:
type (s2)

str

In [ ]:
s3 = '''You know? 
This is a multiple line  
string!  
Yes, written within 3 qoutes!!!'''
s3

'You know? \nThis is a multiple line  \nstring!  \nYes, written within 3 qoutes!!!'

In [ ]:
type(s3)

**Extracting individual characters**

In [ ]:
my_string="My name is John"
my_string[0]

'M'

In [ ]:
my_string="My name is John"
my_string[-1]

'n'

In [ ]:
my_string[0:5] 
#extracting multiple charcters so for that we need to specify the index of the character from where we want to start then follow it by : then followed by the n+1 
#where n is the index of the last element that we want to display

'My na'

In [ ]:
my_string[11:15]

'John'

**The String functions in python are as follows!**


1. len()
2. lower()
3. upper()
4. replace()
5. count()
6. find()
7. split()

In [ ]:
len(my_string)

In [ ]:
my_string.lower()

In [ ]:
my_string.upper()

**Replacing charaters and counting the occurance of a char/ a word/ a string**

In [ ]:
my_string.replace('y','ah')

'Mah name is John'

In [ ]:
new_string = '''She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.'''
new_string.replace('She','He')

'He was young the way an actual young person is young.\nHe was young the way an actual young person is young.\nHe was young the way an actual young person is young.\nHe was young the way an actual young person is young.\nHe was young the way an actual young person is young.\nHe was young the way an actual young person is young.'

In [ ]:
new_string = "hello hello world"
new_string.count("l")

5

In [ ]:
new_string = '''Nory was a Catholic because her mother was a Catholic, 
and Nory’s mother was a Catholic because her father was a Catholic, 
and her father was a Catholic because his mother was a Catholic, or had been.'''
new_string.count("Catholic")

6

In [ ]:
new_string = '''She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.
She was young the way an actual young person is young.'''
new_string.count("She was")

6

**Finding the index of a substring and the split method**

In [ ]:
s1 = 'This is sparta!!!'
s1.find('sparta')
# here the output is 8 bcoz the index from where the sub-string sparta starts is 8
#Hence the output is 8

8

In [ ]:
s1.find('b')
#since b is not found in s1

In [ ]:
fruit = 'I like apples, mangoes, bananas'
fruit.split(',')

**Tuples in Python**

In [ ]:
tup1=(1,"a",True,2,"b",False)
tup1

(1, 'a', True, 2, 'b', False)

In [ ]:
type(tup1)

tuple

In [ ]:
tup1[2]

In [ ]:
tup1[0]

In [ ]:
tup1[-1]

In [ ]:
tup1=(1,"a",True,2,"b",False)
tup1[1:4]
#items from index 1 to index 3
#here also n+1

In [ ]:
tup1[1:4]

('a', True, 2)

In [ ]:
tup1=(1,"a",True,2,"b",False)
tup1[2]="hello"
#This is because Tuples are immutable i.e. we can't change the values later on during the program or even in execution time

In [ ]:
tup1[6]=3+4j
#This is because Tuples are immutable i.e. we can't change the values later on during the program or even in execution time

**Operations with Tuple**

In [ ]:
min(tup1)
#Since here we have heterogenous elements so min operation can't be done!

In [ ]:
tup1=(1,"a",True,2,"b",False)
len(tup1)
#finding the length of a tuple

6

In [ ]:
tup1 = (1,"a",True) #re-defining the tuples with new vales but not changing the values!!
tup2 = (4,5,6)
tup2+tup1
#concatination

**Repeating the elements of the tuple** [for that we can simply multiply the tuple with a specific number] 

**Repeating and concatinating another tuple**

In [62]:
tup1 = ('sparta',300)
tup2 = (4,5,6)
tup1*4 + tup2

('sparta', 300, 'sparta', 300, 'sparta', 300, 'sparta', 300, 4, 5, 6)

**Tuple Functions**

In [63]:
tup1=(1,2,3,4,5)
min(tup1)
#because here all the elements are of the same type

1

In [66]:
tup1=(1,2,3,4,5)
max(tup1)

5

In [ ]:
cmp(tup1,tup2)

#https://www.geeksforgeeks.org/python-2-number-cmplist-method/

NameError: name 'cmp' is not defined

**cmp() is a method specified in Number in Python 2.**
The comparison of integral numbers have been discussed using cmp().
This function takes 2 lists as input and checks if the first argument list is greater, equal or smaller than the second argument list.

Syntax : cmp(list1, list2)

Parameters :
list1 : The first argument list to be compared.
list2 : The second argument list to be compared.

Returns : This function returns 1, if first list is “greater” than second list, -1 if first list is smaller than the second list else it returns 0 if both the lists are equal.

**List in Python**

In [70]:
l1=[1,"a",2,"banana",3,"c"]
l1[3]

'banana'

In [71]:
l1=[1,"a",2,"b",(3+4j),"c"]
l1[4]

(3+4j)

In [72]:
l1=[1,"a",2,"b",(3+4j),"c"]
l1[-1]

'c'

In [73]:
l1=[1,"a",2,"b",3,"c"]
l1[2:5]

[2, 'b', 3]

**List is Mutable**
1. Changing the element at 0th index
2. Appending a new element (at the end of the list)
3. Popping the last element

In [75]:
l1=[1,"a",2,"b",3,"c"]
l1[0]=100 #modification done here in the list
l1

[100, 'a', 2, 'b', 3, 'c']

In [76]:
l1

[100, 'a', 2, 'b', 3, 'c']

In [77]:
l1=[1,"a",2,"b",3,"c"]
l1.append("Sparta")
l1

[1, 'a', 2, 'b', 3, 'c', 'Sparta']

In [78]:
l1=[1,"a",2,"b",3,"c"]
l1.pop()
l1

[1, 'a', 2, 'b', 3]

**Some functions on List**


**1. Reversing elements of a list**

**2. Inserting elemnts at a specified index**

**3. Sorting a list**

In [81]:
l1=[1, 'abc', 267.1, 'lazy sloth bear', '009001']
l1.reverse()
l1

['009001', 'lazy sloth bear', 267.1, 'abc', 1]

In [83]:
l1=[1,"a",2,"b",3,"c"]
l1.insert(1,"Sparta") 
#specify the location at the first parameter 
#then the element that you want to add/insert
l1

[1, 'Sparta', 'a', 2, 'b', 3, 'c']

In [ ]:
l1 = ["mango","banana","guava","apple"]
l1.sort()
l1

['apple', 'banana', 'guava', 'mango']

**List Operations**

**1. Concatenating Lists**

**2. Repeating the elements of the list**

In [91]:
l1 = [1,2,3]
l2 = ["a","b","c"]
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [92]:
l2+l1

['a', 'b', 'c', 1, 2, 3]

In [ ]:
l1 = [1,"a",True]
l1*3

[1, 'a', True, 1, 'a', True, 1, 'a', True]

In [89]:
l1 = [1,"a",True]
l2 = ["cat","ball","ACE"]
l1*3+l2

[1, 'a', True, 1, 'a', True, 1, 'a', True, 'cat', 'ball', 'ACE']

**Dictionary in Python**

In [93]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}

In [94]:
type(fruit)

dict

**Extracting Keys**

In [95]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.keys()

dict_keys(['Apple', 'Orange', 'Banana', 'Guava'])

**Extracting Values**

In [96]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.values()

dict_values([10, 20, 30, 40])

In [97]:
fruit["Apple"] #Accessing individual values

10

**Extracting Items**

In [98]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.items()

dict_items([('Apple', 10), ('Orange', 20), ('Banana', 30), ('Guava', 40)])

**Modyfying a Dictionary**

**Adding a new element**

In [ ]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit["Mango"]=50
fruit

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40, 'Mango': 50}

**Changing an existing element**

In [100]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40,"Mango":50}
fruit["Apple"]=100 
fruit["Banana"]=362
fruit

{'Apple': 100, 'Banana': 362, 'Guava': 40, 'Mango': 50, 'Orange': 20}

**Dictionary Functions**

**Updating 1 Dictionary's elements with another**

In [ ]:
fruit1={"Apple":10,"Orange":20}
fruit2={"Banana":30,"Guava":40}

fruit1.update(fruit2)

fruit1

{'Apple': 10, 'Orange': 20, 'Banana': 30, 'Guava': 40}

**Popping an element**

In [ ]:
fruit={"Apple":10,"Orange":20,"Banana":30,"Guava":40}
fruit.pop("Orange")
fruit

{'Apple': 10, 'Banana': 30, 'Guava': 40}

In [ ]:
#Set in Python

In [ ]:
s1={1,"a",True,2,"b",False}
s1

{1, 2, False, 'a', 'b'}

In [ ]:
s1={1,"a",True,2,"b",False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

In [ ]:
s1={1,"a",True,2,"b",False}
s1.update([10,20,30])
s1

{1, 10, 2, 20, 30, False, 'a', 'b'}

In [ ]:
s1={1,"a",True,2,"b",False}
s1.remove("b")
s1

{1, 2, False, 'a'}

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s1.intersection(s2)

{5, 6}